@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');



body {
    background-color: #9fd6f5;
    position: relative;
}
main {
    background-color: white;
    height: 475px;
    width: 847px;
    margin-left: -7px;
    margin-top: -20px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px 0px rgb(0 0 0 / 43%);
    position:absolute;
    top: 140px;
    right: 37%;
    margin-right: -235px;
    margin-bottom: -425px;

}
fieldset {
    width: 0px;
    border-radius: 20px;
    border-color: #81a3f986;
}
fieldset#nome {
    margin-bottom: 20px;
    position: relative;
    left: 20px;
    top: -17px;
}
fieldset#usuario {
    margin-bottom: 20px;
    position: relative;
    left: 20px;
    top: -18px;
}
h1 {
    color: #003471;
    text-align: top left;
    position: relative;
    top:-15px;
    left: 25px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: bolder;
    font-size: 45px;
}
label {
    position: relative;
    font-family: 'Rajdhani', sans-serif;
    font-size: 17px;
    font-weight:bold;
    left: 9px;
}
div {
    margin-bottom: 14px;
    width: 300px;
}
input {
    display: block;
    width: 283px;
    border-radius: 5px;
    border-color: #81a3f938;
    height: 20px;
    color: grey;
}
button#login {
    position: relative;
    background-color: #08060600;
    border-color: #0806065d;
    border: 0;
    top: -22px;
    left: 76px;
    border-radius: 15px;
    border: 0;
}
input#login {
    background-color: #81a3f94b;
    border-color: rgba(255, 255, 255, 0.226);
    height: 1.8em;
    font-weight: normal;
    font-family: 'Rajdhani', sans-serif;
    width: 200px;
}
aside {
    position: relative;
    height: 475px;
    width: 431px;
    left: 416px;
    top: -491px;
    border-radius: 0px 10px 10px 0px;
    background-color: #080606be;
}
aside > h2 {
    color: rgba(243, 243, 243, 0.616);
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    top: 180px;
    font-weight: bolder;
}
aside > p {
    color: rgba(243, 243, 243, 0.616);
    text-align: center;
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    top: 184px;
}
aside > a > button {
    background-color: #08060600;
    border-color: #0806065d;
    border: 0;
    position: relative;
    left: 120px;
    top: 243px;
}
aside > a > button > input {
    background-color: #81a3f925;
    border-color: rgba(255, 255, 255, 0.253);
    height: 2.2em;
    font-weight: normal;
    font-family: 'Rajdhani', sans-serif;
    width: 200px;
    color: white;
}